src/main/app/getjsonbankvip.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" port="443" doc:name="HTTP Request Configuration"/>
    <flow name="getjsonbankvip:listener-load">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/load" allowedMethods="POST" doc:name="HTTP"/>
        <set-variable variableName="id" value="#[java.util.UUID.randomUUID().toString()]" doc:name="+id"/>
        <object-to-string-transformer doc:name="Object to String"/>

        <logger level="INFO" doc:name="Logger" message="#['ID: ' + flowVars.id +' Mensaje entrante: ' + payload]"/>
        <flow-ref name="getjsonbankvip:getJSON" doc:name="getjsonbankvip:getJSON"/>
    </flow>
    <sub-flow name="getjsonbankvip:getJSON">
        <set-variable variableName="host" value="#[new URL(payload).getHost()]" doc:name="host"/>
        <set-variable variableName="path" value="#[new URL(payload).getPath()]" doc:name="path"/>
        <http:request config-ref="HTTP_Request_Configuration" path="#[flowVars.path]" method="GET" host="#[flowVars.host]" doc:name="HTTPS"/>
        <logger message="#['JSON Received Successful']" level="INFO" doc:name="Logger"/>
    </sub-flow>
</mule>
